{% extends "base.html" %}
{% load static %}
    {% block title %}My Cart{% endblock %}
    {% block style %}
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static "/css/cart.css" %}">
    {% endblock %}
    
{% block content %}

{% include "components/nav_bar_nocart.html" with filters=user %}
<script src="https://unpkg.com/@tailwindcss/browser@latest"></script>
<main class="bg-gray-100 font-inter">
    <div class="container mx-auto mt-8 p-4">
        <h1 class="text-3xl font-semibold text-gray-900 text-center mb-6">Your Cart</h1>
        
        <div id="cart-items" class="bg-white shadow-md rounded-lg p-4 mb-6">
          {% if cart and cart.cart_items and cart.cart_items.all|length > 0 %}
            {% for cartItem in cart.cart_items.all %}
              <div class="flex items-center justify-between border-bottom border-light-blue py-4">
                <a href="{% url "item-detail" cartItem.item.uuid %}" class="flex item-center text-decoration-none">
                  <img src="{{ cartItem.item.item_image.image.url }}" alt="no image" class="w-20 h-20 rounded-md mr-4">
                </a>
                <div class="flex flex-col">
                  <span class="text-lg font-semibold text-gray-900">{{cartItem.item.item_name}}</span>
                  <span class="text-gray-700">₹{{cartItem.item.item_price}} - {{cartItem.item.item_discount_percentage}}% discount</span>
                </div>
                <div class="flex item-center">
                  <span class="text-lg font-semibold text-gray-900 ml-2">Qty {{cartItem.item_quantity}}</span>
                  <span class="text-lg font-semibold text-gray-900 ml-6">₹{{cartItem.total_price}}</span>
                  <span class="text-lg font-semibold ml-6">
                    <a href="{% url "remove" cartItem.uuid %}" title="remove from cart" class="text-decoration-none text-red-500 hover:text-red-700 transition-colors duration-200 ">✕</a>
                  </span>
                </div>
              </div>
            {% endfor %}
            {% else %}
            <p class="text-gray-500 text-center py-4">Your cart is empty.</p>
          {% endif %}
        </div>

        <div id="summary" class="bg-white shadow-md rounded-lg p-4">
            <h2 class="text-2xl font-semibold text-gray-900 mb-4">Summary</h2>
            <div class="flex justify-between items-center mb-2">
                <span class="text-gray-700">Total:</span>
                <span id="total-price" class="text-xl font-bold text-light-blue">₹{{cart.total_price}}</span>
            </div>
            <p class="text-sm text-gray-500 mb-4">Shipping costs will be calculated at checkout.</p>
            <button onclick="checkout()" class="bg-light-blue-gradient hover:bg-blue-300 text-gray-900 font-semibold py-2 px-4 rounded-md w-full transition duration-300 ease-in-out">
                Checkout
            </button>
            <div id="checkout-message" class="mt-4 text-center text-green-600 font-semibold hidden">
                Checkout successful!
            </div>
        </div>
    </div>

</main>

    <script id="django-messages-data" type="application/json">
        [
        {% if messages %}
            {% for message in messages %}
            {
                "type": "{{ message.tags }}",
                "message": "{{ message }}"
            }{% if not forloop.last %},{% endif %}
            {% endfor %}
        {% endif %}
        ]
    </script>

{% endblock %}