{% extends "base.html" %}

{% block title %}Check out{% endblock %}
{% load static %}
{% block style %}
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@tailwindcss/browser@latest"></script>
    <link rel="stylesheet" href="{% static "/css/check-out.css" %}">
{% endblock %}

{% block content %}

{% include "components/nav_bar_nocart.html" with filters=user %}

<main class="bg-gray-100 font-inter">
    <form method="POST">
        {% csrf_token %}
        <div class="container mx-auto mt-8 p-4">
            <h1 class="text-3xl font-semibold text-gray-900 text-center mb-6">Checkout</h1>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <div class="bg-white shadow-md rounded-lg p-6">
                    <h2 class="text-2xl font-semibold text-gray-900 mb-4">Delivery Address</h2>
                    <form class="space-y-4">
                        <div>
                            <label for="first-name" class="block text-gray-700 text-sm font-bold mb-2">House/Apartment number</label>
                            <input type="text" disabled id="first-name" value="{{ customer.address.house_number }}" name="house_number" placeholder="123" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-light-blue" />
                            
                        </div>
                        <div>
                            <label for="last-name" class="block text-gray-700 text-sm font-bold mb-2">Colony, street name, street number</label>
                            <input type="text" disabled id="last-name" value="{{ customer.address.colony }}" name="colony" placeholder="vasant vihar, street no. 23, wilhiams road" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-light-blue" />
                            
                        </div>
                        <div>
                            <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Landmark</label>
                            <input type="text" disabled id="email" value="{{ customer.address.nearby_place }}" name="nearby_place" placeholder="nearby place" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-light-blue" />

                        </div>
                        <div>
                            <label for="address" class="block text-gray-700 text-sm font-bold mb-2">city</label>
                            <input type="text" disabled id="address" value="{{ customer.address.city }}" name="city" placeholder="New Delhi" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-light-blue" />

                        </div>
                        <div>
                            <label for="state" class="block text-gray-700 text-sm font-bold mb-2">ZIP</label>
                            <input type="text" disabled id="state" value="{{ customer.address.postal_code }}" name="postal_code" placeholder="123456" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-light-blue" />

                        </div>
                        <div>
                            <label for="city" class="block text-gray-700 text-sm font-bold mb-2">State</label>
                            <input type="text" disabled id="city" name="state" value="{{ customer.address.state }}" placeholder="AnyState" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-light-blue" />
            
                        </div>
                        <div>
                            <label for="zip" class="block text-gray-700 text-sm font-bold mb-2">Country</label>
                            <input type="text" disabled id="zip" value="{{ customer.address.country }}" name="country" placeholder="India" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-light-blue" />
                        </div>
                    </form>
                </div>

                <div class="bg-white shadow-md rounded-lg p-6">
                    <h2 class="text-2xl font-semibold text-gray-900 mb-4">Order Summary</h2>
                    <div id="order-summary" class="space-y-2 mb-4">
                        {% if cart and cart.cart_items.all|length > 0 %}
                            {% for cartItem in cart.cart_items.all %}
                                <div class="flex items-center justify-between border-bottom border-light-blue py-2">
                                    <div class="flex items-center">
                                        <img src="{{ cartItem.item.item_image.image.url }}" alt="product image" class="w-16 h-16 rounded-md mr-4">
                                        <div class="flex flex-col">
                                            <span class="text-gray-900 font-semibold">{{ cartItem.item.item_name }}</span>
                                            <span class="text-gray-700">Qantity: {{ cartItem.item_quantity }}</span>
                                        </div>
                                    </div>
                                    <span class="text-gray-900 font-semibold">₹{{ cartItem.total_price }}</span>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="flex justify-between items-center font-semibold text-xl text-gray-900">
                        <span>Total:</span>
                        <span id="order-total">₹{{cart.total_price}}</span>
                    </div>

                    <div class="mt-6">
                        <h2 class="text-2xl font-semibold text-gray-900 mb-4">Payment Method</h2>
                        <div id="payment-method-error" class="text-red-500 text-xs italic mt-1 hidden"></div>
                        <div class="flex flex-wrap justify-between">
                            <div class="payment-method-item">
                                <input type="radio" id="cod" name="payment-method" value="cod" class="peer hidden" required />
                                <label for="cod" class="payment-method-button flex items-center cursor-pointer border rounded-lg px-4 py-3 mr-2 mb-2 transition-colors  border-blue-400 bg-gray-100 peer-checked:border-blue-500 peer-checked:bg-orange-600 peer-checked:text-gray-900">
                                    Cash on Delivery (COD)
                                </label>
                            </div>
                            <div class="payment-method-item">
                                <input type="radio" id="paytm" name="payment-method" value="upi" class="peer hidden" required />
                                <label for="paytm" class="payment-method-button flex items-center cursor-pointer border rounded-lg px-4 py-3 mr-2 mb-2 transition-colors  border-blue-400 bg-gray-100 peer-checked:border-blue-500 peer-checked:bg-orange-600 peer-checked:text-gray-900">
                                    UPI
                                </label>
                            </div>
                            <div class="payment-method-item">
                                <input type="radio" id="card" name="payment-method" value="card" class="peer hidden" required />
                                <label for="card" class="payment-method-button flex items-center cursor-pointer border rounded-lg px-4 py-3 mr-2 mb-2 transition-colors border-blue-400 bg-gray-100 peer-checked:border-blue-500 peer-checked:bg-orange-600 peer-checked:text-gray-900">
                                    Credit/Debit Card
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-8 flex justify-center">
                <button type="submit" class="bg-blue-100 hover:bg-blue-300 text-gray-900 font-semibold py-2 px-6 rounded transition duration-300 ease-in-out">
                    Place Order
                </button>
            </div>
            <div id="order-confirmation" class="mt-8 text-center text-green-600 font-semibold text-xl hidden">
                Your order has been placed successfully!
            </div>
        </div>
    </form>
    </script>
</main>

    <script id="django-messages-data" type="application/json">
        [
        {% if messages %}
            {% for message in messages %}
            {
                "type": "{{ message.tags }}",
                "message": "{{ message }}"
            }{% if not forloop.last %},{% endif %}
            {% endfor %}
        {% endif %}
        ]
    </script>

{% endblock %}